extends layout

block content
  h1= `${data.mapdata.title}`
  a(href=`https://osu.ppy.sh/users/${data.playerdata.id}`)
    h2= `played by ${data.playerdata.name}`
  h2= `This play is worth ${data.replaydata.omct_score.toFixed(4)} points!`

  p Your upload was successful, you might or might not see yourself on the leaderboard in a while. Or not...