body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#leaderboard {
  border-radius: 3px;
  width: 90%;
  border: 1px solid black;

}


#leaderboard tbody tr td.prfp {
  height: 100px;
  width: 1%;
  text-align: right;
}

#leaderboard tbody tr td img {
  border-radius: 20px;
  height: 90%;
  padding: 5%;
}


#uploader {
  text-align: center
}

#fileble {
  width: 50%;
  height: 20px;
  background-color: crimson
}

#fileble:hover {
  cursor: pointer;
  background: darkred
}

#fileble:focus {
  background: darkred;
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

#labmit{
  width: 0.1%;
  height: 20px;
  background-color: crimson
}


#leaderboard tbody tr td.name {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
  padding-left: 5px;
}
#leaderboard tbody tr td.name a {
  color: black;
  text-decoration-line: none;  
}
#leaderboard>tbody>tr>td.name>a:hover {
  text-decoration-line: underline;
}
#leaderboard tbody tr td .pnts {}

#leaderboard tbody tr td .name {}

#leaderboard tbody tr {
  height: 10px;
}