#upload-button {
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	background-color: black;
	display: inline-block;
}

#upload-button,
#upload-button:hover {
	background-color: red;
}

#upload-button {
	color: #d3394c;
	border: 2px solid currentColor;
}

#upload-button:focus,
#upload-button:hover,
#upload-button.has-focus {
	color: #722040;
}


#upload-button {
	cursor: pointer;
	/* "hand" cursor */
}

#upload-button {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}